body{
    background-color: whitesmoke !important;
}

#navbar-admin{
    box-shadow: black 0 0 5px;
}

.text-white{
    color: white !important;
}

#footer{
    box-shadow: black 0 0 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}